<div id="<%= dom_id publication %>">
  <div class="p-3 publication m-2">
    <div class="row">
      <div class="col-10">
        <p>
          <strong>Title:</strong>
          <%= publication.title %>
        </p>

        <p>
          <strong>Body:</strong>
          <%= publication.body %>
        </p>

        <p><small>Autor: <%=publication.user.name%></small></p>
      </div>
      <div class="col-2">
        <div class="text-center reaction">
          <% if user_signed_in? %>
            <% if publication.reactions.where(rtype: "like").count == 0 %>
              <span class="create-reaction" onclick="create_reaction('like', <%=publication.id%>)">
                <i class="bi bi-hand-thumbs-up-fill"></i>
              </span>
              <span class="destroy-reaction d-none" onclick="destroy_reaction('like', <%=publication.id%>)">
                <i class="bi bi-hand-thumbs-up-fill text-primary"></i>
              </span>
            <% else %>
              <span class="create-reaction d-none" onclick="create_reaction('like', <%=publication.id%>)">
                <i class="bi bi-hand-thumbs-up-fill"></i>
              </span>
              <span class="destroy-reaction" onclick="destroy_reaction('like', <%=publication.id%>)">
                <i class="bi bi-hand-thumbs-up-fill text-primary"></i>
              </span>
            <% end %>
          <% end %>
          <p><%=publication.reactions.where(rtype: "like").count%> likes</p>
        </div>
      </div>
    </div>
  </div>
</div>
